body{
    background-color: #FFE6F7;
}
hr{
    height: 0px;
    width: 7%;
    border-style: none;
    border-top-style: dotted;
    border-color: #810CA8;
    border-width: 7px;
}
h1{
    color: #E94560;
}
h3{
    color: #ba4559;
}